

#title {
    background-image: url("./images/bg-header-desktop.png");
    height: 22rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

body {
    margin: 0;
    font-family: Bai Jamjuree;
}

h1 {
    font-weight: 600;
    margin-top: 0;
}

h2 {
    text-align: center;
    margin: 0 auto 30px auto;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    margin-bottom: 25px;
}

p {
    font-weight: 400;
    /* padding-bottom: 50px; */
    margin: 0;
    color: #D0D4D4;
    line-height: 22px;
}

.tagline {
    text-align: center;
}

#logo {
    max-width: 125px;
    padding-bottom: 75px;
}

#title_buttons {
    display: flex;
    margin-top: 50px;
}

.download_ios {
    background-color: #26BBA4;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 55px;
    border-bottom: 3px solid #1E9D87;
    line-height: 50px;
    color: white;
    padding: 0 40px;
    margin: 0 20px;
    cursor: pointer;
        box-shadow: 1px 3px 9px -1px #26BBA4;
}

.download_mac {
    background-color: #6174FF;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 55px;
    border-bottom: 3px solid #5263D3;
    line-height: 50px;
    color: white;
    padding: 0 40px;
    margin: 0 20px;
    cursor: pointer;
        box-shadow: 1px 3px 9px -1px #6174FF;
}

#computer_img {
    margin-left: -30px;
    margin-top: 80px;
}

#snippets_content {
    display: flex;
    flex-direction: row;
}

#small_text {
    margin-left: 100px;
    margin-top: 155px;
}

.snippet_text {
    padding-bottom: 50px;
}

#clipboard {
    margin-top: 155px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#image_devices {
    padding-top: 110px;
    margin: 0 auto;
}

.blacklist {
    text-align: center;
}

#paragraphs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 80px;
}

#partners {
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 160px;
}

#partners img {
    height: 100%;
}

#clipboard_download {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 145px;
}

footer {
    background-color: #F5F6F8;
    height: 150px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#footer_logo {
    width: 60px;
    margin-left: 160px;
    /* margin-top: 59px; */
    position: absolute;
}

.footer_links {
    margin-right: 150px;
}

#top-line_footer {
    display: flex;
}

#footer_links_div {
    margin-left: 375px;
    /* padding-top: 3%; */
}

#bottom-line_footer {
    display: flex;
    margin-top: 30px;
}

#contact {
    margin-right: 9.8%;
}

#privacyPol {
    margin-right: 70px;
}

#social_links {
    float: right;
    display: flex;
    justify-content: space-around;
    width: 120px;
    padding-left: 155px;
}

#faq {
    margin-right: 90px;
}

@media screen and (max-width: 375px) {
    #title {
        background-image: url("./images/bg-header-mobile.png");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        margin-bottom: 100px;
    }

    .tagline {
        width: 82%;
    }

    h1 {
        width: 80%;
        text-align: center;
    }

    #title_buttons {
        flex-direction: column;
    }

    .download_ios {
         margin-bottom: 20px;
         width: 230px;
    }

    .download_mac {
        width: 230px;
    }
}