#title {
    background-image: url("./images/bg-header-desktop.png");
    height: 22rem;
    width: 100%;
}

body {
    margin: 0;
    font-family: Bai Jamjuree;
}

h1 {
    margin: 0;
}

#logo {
    max-width: 126px;
}