#title {
    background-image: url("./images/bg-header-desktop.png");
    height: 22rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

body {
    margin: 0;
    font-family: Bai Jamjuree;
}

h1 {
    font-weight: 600;
    margin-top: 0;
}

h2 {
    text-align: center;
    margin: 0 auto 30px auto;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    margin-bottom: 25px;
}

p {
    font-weight: 400;
    /* padding-bottom: 50px; */
    margin: 0;
    color: #D0D4D4;
    line-height: 22px;
}

.tagline {
    text-align: center;
}

#logo {
    max-width: 126px;
    padding-bottom: 75px;
}

#title_buttons {
    display: flex;
    margin-top: 50px;
}

.download_ios {
    background-color: #26BBA4;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 55px;
    border-bottom: 3px solid #1E9D87;
    line-height: 50px;
    color: white;
    padding: 0 40px;
    margin: 0 20px;
    cursor: pointer;
}

.download_mac {
    background-color: #6174FF;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 55px;
    border-bottom: 3px solid #5263D3;
    line-height: 50px;
    color: white;
    padding: 0 40px;
    margin: 0 20px;
    cursor: pointer;
}

#computer_img {
    margin-left: -30px;
    margin-top: 80px;
}

#snippets_content {
    display: flex;
    flex-direction: row;
}

#small_text {
    margin-left: 100px;
    margin-top: 155px;
}

.snippet_text {
    padding-bottom: 50px;
}

#clipboard {
    margin-top: 155px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#image_devices {
    padding-top: 110px;
    margin: 0 auto;
}

.blacklist {
    text-align: center;
}

#paragraphs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 80px;
}

#partners {
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px;
}

#partners img {
    height: 100%;
}
